<div class="contenedorPricipal">
    <h1> Registro de Vehiculos </h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
            <label for="veI_CodigoVehiculo">Codigo Vehiculo</label>
            <input type="text" pInputText formControlName="veI_CodigoVehiculo" matInput autocomplete="off" >
           
          </div>
      <div>
        <label for=" veI_PlacaVehiculo">Placa Vehicilo:</label>
        <input type="text" pInputText formControlName=" veI_PlacaVehiculo" matInput autocomplete="off" >
       
      </div>
      <div >
        <label for="veI_Modelo">Modelo:</label>
        <input type="text" pInputText formControlName="veI_Modelo">
      </div>
     
    
      <div >
        <label for="veI_KmInicial">Kilómetro Inicial#:</label>
        <p-inputNumber class= "Numerico"  mode="decimal" locale="en-IN" formControlName="veI_KmInicial"  ></p-inputNumber>
      </div>
      <div>
        <label for="veI_PesoLimite">Peso Carga (KG):</label>
        <p-inputNumber class= "Numerico"  mode="decimal" locale="en-IN" formControlName="veI_PesoLimite"  ></p-inputNumber>
      </div>
      <div >
        <label for="veI_Descrpcion">Descripcion:</label>
        <input type="text" pInputText formControlName="veI_Descripcion">
      </div>
     
 
    </form>
    <div class="Botones">
      <button pButton type="submit" label="Ingresar Vehiculo" icon="pi pi-check" iconPos="left" class="p-button-raised p-button-rounded" type="submit"></button>
    </div>
  </div>
  
        
