<div class="contenedorPricipal">
    <h1> Registro de Vehiculos </h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
            <label for="VEI_CodigoVehiculo">Codigo Vehiculo</label>
            <input type="text" pInputText formControlName="VEI_CodigoVehiculo" matInput autocomplete="off" >
           
          </div>
      <div>
        <label for="VEI_PlacaVehiculo">Placa Vehiculo:</label>
        <input type="text" pInputText formControlName="VEI_PlacaVehiculo" matInput autocomplete="off" >
       
      </div>
      <div >
        <label for="VEI_Modelo">Modelo:</label>
        <input type="text" pInputText formControlName="VEI_Modelo">
      </div>
     
    
      <div >
        <label for="VEI_KmInicial">Kilómetro Inicial#:</label>
        <p-inputNumber class= "Numerico"  mode="decimal" locale="en-US" formControlName="VEI_KmInicial"  ></p-inputNumber>
      </div>
      <div>
        <label for="VEI_PesoLimite">Peso limite Carga (KG):</label>
        <p-inputNumber class= "Numerico"  mode="decimal" locale="en-US" formControlName="VEI_PesoLimite"  ></p-inputNumber>
      </div>
      <div >
        <label for="VEI_Descrpcion">Descripcion:</label>
        <input type="text" pInputText formControlName="VEI_Descripcion">
      </div>
     
 
    </form>
    <div class="Botones">
      <button pButton type="submit" label="IngresarVehiculo" icon="pi pi-check" iconPos="left" class="p-button-raised p-button-rounded" (click)="onSubmit()"></button>
    </div>
  </div>
  
        
