.contenedorPrincipal{
    height: 100vh;
}
h1{
    font-size: 3rem;
    height: 3rem;
    margin: 1rem;
    text-align: center;
}
form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  form div{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    margin: auto;
  }
  form div input{
    height: 2.5rem;
    border-radius: 10px;

  }
  
  @media (max-width: 600px) {
    .contenedorPrincipal{
        overflow-y:scroll;
        height: 600px;
    }
    h1{
        font-size: 2rem;
    }
    form {
      grid-template-columns: 1fr;
      height: 500px;
      overflow-y: scroll;
    }
    form div{
        width: 100%;
        min-width: 400px;
        margin: 10px;
    }
    form div input{
        height: 2rem;
        border-radius: 10px;
        width: 90%;
      }
  }