<div class="contenedorPricipal">
  <h1> Registro de Viajes</h1>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit">
    <div>
      <label for="VIA_FechaInicio">Fecha de Inicio:</label>
      <p-calendar formControlName="VIA_FechaInicio" [showTime]="true" hourFormat="12"></p-calendar>
    </div>
    <div>
      <label for="VIA_Empresa">Empresa:</label>
      <input type="text" pInputText formControlName="VIA_Empresa" matInput autocomplete="off" >
     
    </div>
    <div >
      <label for="VIA_Manifiesto">Manifiesto:</label>
      <input type="text" pInputText formControlName="VIA_Manifiesto">
    </div>
    <div>
      <label for="CON_CedulaConductor">Conductor:</label>
      <p-dropdown formControlName="CON_CedulaConductor" [options]="Conductores" optionLabel="coN_NombresConductor" placeholder="Seleccione Conductor" [showClear]="true"></p-dropdown>
    </div>
    <div>
      <label for="VEI_CodigoVehiculo">Código del Vehículo:</label>
      <p-dropdown formControlName="VEI_CodigoVehiculo" [options]="Vehiculos" optionLabel="veI_PlacaVehiculo" placeholder="Seleccione Vehiculo" [showClear]="true"></p-dropdown>
    </div>
    <div>
      <label for="VIA_Origen">Origen:</label>
      <input type="text" pInputText formControlName="VIA_Origen">
    </div>
    <div>
      <label for="VIA_Destino">Destino:</label>
      <input type="text" pInputText formControlName="VIA_Destino">
    </div>
    <div >
      <label for="VIA_KmRecorridos">Kilómetros Recorridos #:</label>
      <p-inputNumber class= "Numerico"  mode="decimal" locale="en-IN" formControlName="VIA_KmRecorridos"  ></p-inputNumber>
    </div>
    <div>
      <label for="VIA_Peso">Peso Carga (KG):</label>
      <p-inputNumber class= "Numerico"  mode="decimal" locale="en-IN" formControlName="VIA_Peso"  ></p-inputNumber>
    </div>
    <div>
      <label for="VIA_PagoConductor">Pago al Conductor :</label>
      <p-inputNumber class= "Numerico" inputId="locale-us" currency="USD"  mode="currency" locale="en-US" [minFractionDigits]="0" formControlName="VIA_PagoConductor"  ></p-inputNumber>
    </div>
    <div>
      <label for="VIA_PagoCombustible">Pago de Combustible :</label>
      <p-inputNumber class= "Numerico" inputId="locale-us" currency="USD"  mode="currency" locale="en-US" [minFractionDigits]="0" formControlName="VIA_PagoCombustible"  ></p-inputNumber>
    </div>
    <div>
      <label for="VIA_PagoPeajes">Pago de Peajes :</label>
      <p-inputNumber class= "Numerico" inputId="locale-us" currency="USD"  mode="currency" locale="en-US" [minFractionDigits]="0" formControlName="VIA_PagoPeajes"  ></p-inputNumber>
    </div>
    <div>
      <label for="VIA_PagoOtros">Otros Pagos :</label>
      <p-inputNumber class= "Numerico"inputId="locale-us" currency="USD"  mode="currency" locale="en-US" [minFractionDigits]="0" formControlName="VIA_PagoOtros"  ></p-inputNumber>
    </div>
    <div >
      <label for="VIA_DetallesViaje">Detalles del Viaje:</label>
      <input type="text" pInputText formControlName="VIA_DetallesViaje">
    </div>
    <div >
      <label for="VIA_ValorViaje">Valor del Viaje :</label>
      <p-inputNumber class= "Numerico" inputId="locale-us" currency="USD"  mode="currency" locale="en-US" [minFractionDigits]="0" formControlName="VIA_ValorViaje"  ></p-inputNumber>
    </div>
   
  </form>
  <div class="Botones">
    <button pButton type="submit" label="Ingresar Viaje" icon="pi pi-check" iconPos="left" class="p-button-raised p-button-rounded" (click)="onSubmit()"></button>
  </div>
</div>

      
