.contenedorPrincipal{
    height: 100vh;
}
h1{
    font-size: 3rem;
    height: 3rem;
    margin: 1rem;
    text-align: center;
    margin-bottom: 50px;
}
.ng-invalid.ng-touched {
  border-color: red !important;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  form div{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
    margin: auto;
  }
  form div input{
    height: 2.5rem;
    border-radius: 10px;
    text-decoration: none;

  }
  :host ::ng-deep .p-calendar,:host ::ng-deep .p-dropdown {
    height: 2.5rem;
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
  }
/* boton de ingreso */
.Botones{
  text-align: center;
  margin-top: 1rem;
}
:host ::ng-deep .p-button {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: white;

}

:host ::ng-deep .p-button:hover {
  background-color: black;
  border-color: black;
}
:host ::ng-deep  {
  list-style: none;
}
:host ::ng-deep .p-inputtext.ng-dirty.ng-invalid {
  border-color: #e24c4c;
 
}
:host ::ng-deep .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0;
  border-color: black;
}
  /* Resposive mobile */
  @media (max-width: 600px) {
    .contenedorPrincipal{
        overflow-y:scroll;
        height: 600px;
    }
    h1{
        font-size: 2rem;
    }
    form {
      grid-template-columns: 1fr;
      height: 500px;
      overflow-y: scroll;
    }
    form div{
        width: 100%;
        min-width: 400px;
        margin: 10px;
    }
    form div input{
        height: 2rem;
        border-radius: 10px;
        width: 90%;
      }
    :host ::ng-deep .p-calendar,:host ::ng-deep .p-dropdown {
      height: 2rem;
      border-radius: 10px;
      width: 90%;
      padding: 3px;
    }
  }