*,*::after,*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: 0;
}
body{
    height: 100vh;
    min-width: 390px;
    min-height: 100%;
    background-color: #eff3f8;
    font-family: var(--font-family);
}